{% extends "base.html" %}
{% block extra_css %}
    <style>
      body{
        padding-top: 100px;
      }
    </style>
{% endblock %}
{% load wagtailcore_tags wagtailimages_tags static %}
<div class="container">
{% block content %}

  <center><h1 class="display-4">{{ self.banner_title }}</h1></center>
  <center><div class="lead">
    <h4>{{ self.banner_subtitle|richtext }}</h4>
    <br>
    <a href="{% url 'crowd_app:upload' %}" class="btn btn-primary btn-lg">Upload</a>
    <br><br>
    <img src="{% static 'images/pexels-caleboquendo-34585117.jpg' %}" class="d-block w-100" alt="Banner image">
  </div></center>



{% endblock %}
</div>
